.inner-addon {  
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon-search {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon-search  { left:  0px;}
.left-addon .glyphicon-remove-circle { right: 0px;}
.glyphicon-remove-circle
 {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color:#ccc;
  cursor: pointer;
}

/* add padding  */
.left-addon input  { padding-left:  60px; }

.form{
    padding:0px;
    margin:0px;
    border:0px;
}
.form-group{
    padding:0px;
    margin:0px;
    border:0px;
}

.text{
    color: white;
}
.color-green{
    background-color: #5DFC0A;
}
.table-image{
    float: left;
    padding-top: 5px;
}

.centerimg{
    
    background-image: url("startup.jpg");
    width:80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:250px;
    background-attachment: fixed;
    
}
.container ,.container-fluid{  margin: 0 auto 0 auto; }

